<?xml version="1.0" encoding="utf-8"?>
<form>
	<fieldset name="license" label="COM_RSEVENTSPRO_CONF_LICENSE" description="COM_RSEVENTSPRO_CONF_LICENSE_DESC">
		<field name="global_code" type="text" label="COM_RSEVENTSPRO_CONF_LICENSE_CODE" description="COM_RSEVENTSPRO_CONF_LICENSE_CODE_DESC" size="70" class="input-xlarge" default="" />
	</fieldset>
	
	<fieldset name="datetime" label="COM_RSEVENTSPRO_CONF_DATETIME" description="COM_RSEVENTSPRO_CONF_DATETIME_DESC">
		<field name="global_date" type="rscombobox" label="COM_RSEVENTSPRO_CONF_DATE" description="COM_RSEVENTSPRO_CONF_DATE_DESC" size="30" default="">
			<option value="d F Y">30 November 2018</option>
			<option value="F d, Y">November 30, 2018</option>
			<option value="m/d/y">11/30/18</option>
			<option value="d.m.Y">30.11.2018</option>
			<option value="m.d.Y">11.30.2018</option>
		</field>
		<field name="global_time" type="rscombobox" label="COM_RSEVENTSPRO_CONF_TIME" description="COM_RSEVENTSPRO_CONF_TIME_DESC" size="30" default="">
			<option value="H:i:s">13:23:10</option>
			<option value="H:i">13:23</option>
			<option value="g:i a">1:23 pm</option>
		</field>
		<field name="time_format" type="radio" class="btn-group" label="COM_RSEVENTSPRO_CONF_TIME_FORMAT" description="COM_RSEVENTSPRO_CONF_TIME_FORMAT_DESC" default="0">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="hideyear" type="radio" class="btn-group" label="COM_RSEVENTSPRO_CONF_HIDE_YEAR" description="COM_RSEVENTSPRO_CONF_HIDE_YEAR_DESC" default="0">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="hideseconds" type="radio" class="btn-group" label="COM_RSEVENTSPRO_CONF_HIDE_SECONDS" description="COM_RSEVENTSPRO_CONF_HIDE_SECONDS_DESC" default="0">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
	</fieldset>
	
	<fieldset name="miscellaneous" label="COM_RSEVENTSPRO_CONF_MISCELLANEOUS" description="COM_RSEVENTSPRO_CONF_MISCELLANEOUS_DESC">
		<field name="jquery" type="radio" class="btn-group" label="COM_RSEVENTSPRO_CONF_ENABLE_JQUERY" description="COM_RSEVENTSPRO_CONF_ENABLE_JQUERY_DESC" default="0">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="adminjquery" type="radio" class="btn-group" label="COM_RSEVENTSPRO_CONF_ENABLE_ADMIN_JQUERY" description="COM_RSEVENTSPRO_CONF_ENABLE_ADMIN_JQUERY_DESC" default="1">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="bootstrap" type="radio" class="btn-group" label="COM_RSEVENTSPRO_CONF_ENABLE_BOOTSTRAP" description="COM_RSEVENTSPRO_CONF_ENABLE_BOOTSTRAP_DESC" default="0">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="fontawesome" type="radio" class="btn-group" label="COM_RSEVENTSPRO_CONF_ENABLE_FONT_AWESOME" description="COM_RSEVENTSPRO_CONF_ENABLE_FONT_AWESOME_DESC" default="1">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="jsactivity" type="radio" class="btn-group" label="COM_RSEVENTSPRO_CONF_JOMSOCIAL_ACTIVITY" description="COM_RSEVENTSPRO_CONF_JOMSOCIAL_ACTIVITY_DESC" default="0">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="enable_buttons" type="radio" class="btn-group" label="COM_RSEVENTSPRO_CONF_EDITOR_BUTTONS" description="COM_RSEVENTSPRO_CONF_EDITOR_BUTTONS_DESC" default="0">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="content_prepare" type="radio" class="btn-group" label="COM_RSEVENTSPRO_CONF_CONTENT_PREPARE" description="COM_RSEVENTSPRO_CONF_CONTENT_PREPARE_DESC" default="1">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="seo_title" type="radio" class="btn-group" label="COM_RSEVENTSPRO_CONF_SEO_TITLE" description="COM_RSEVENTSPRO_CONF_SEO_TITLE_DESC" default="1">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="descr_length" type="text" class="input-small" label="COM_RSEVENTSPRO_CONF_DESCR_LENGTH" description="COM_RSEVENTSPRO_CONF_DESCR_LENGTH_DESC" size="5" default="255" />
		<field name="store_ip" type="radio" default="1" class="btn-group" label="COM_RSEVENTSPRO_CONF_STORE_IP" description="COM_RSEVENTSPRO_CONF_STORE_IP_DESC" labelclass="control-label">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="consent" type="radio" default="1" class="btn-group" label="COM_RSEVENTSPRO_CONF_CONSENT" description="COM_RSEVENTSPRO_CONF_CONSENT_DESC" labelclass="control-label">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
	</fieldset>
	
	<fieldset name="modules" label="COM_RSEVENTSPRO_CONF_MODULES" description="COM_RSEVENTSPRO_CONF_MODULES_DESC">
		<field name="dashboard_upcoming" type="radio" class="btn-group" label="COM_RSEVENTSPRO_CONF_UPCOMING_MOD_EVENTS" description="COM_RSEVENTSPRO_CONF_UPCOMING_MOD_EVENTS_DESC" default="1">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="dashboard_upcoming_nr" type="text" class="input-small" label="COM_RSEVENTSPRO_CONF_UPCOMING_EVENTS_MOD_LIMIT" description="COM_RSEVENTSPRO_CONF_UPCOMING_EVENTS_MOD_LIMIT_DESC" size="5" default="5" />
		<field name="dashboard_subscribers" type="radio" class="btn-group" label="COM_RSEVENTSPRO_CONF_SUBSCRIBERS_MOD" description="COM_RSEVENTSPRO_CONF_SUBSCRIBERS_MOD_DESC" default="1">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="dashboard_subscribers_nr" type="text" class="input-small" label="COM_RSEVENTSPRO_CONF_SUBSCRIBERS_MOD_LIMIT" description="COM_RSEVENTSPRO_CONF_SUBSCRIBERS_MOD_LIMIT_DESC" size="5" default="5" />
		<field name="dashboard_comments" type="radio" class="btn-group" label="COM_RSEVENTSPRO_CONF_COMMENTS_MOD" description="COM_RSEVENTSPRO_CONF_COMMENTS_MOD_DESC" default="1">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="dashboard_comments_nr" type="text" class="input-small" label="COM_RSEVENTSPRO_CONF_COMMENTS_MOD_LIMIT" description="COM_RSEVENTSPRO_CONF_COMMENTS_MOD_LIMIT_DESC" size="5" default="5" />
		<field name="dashboard_sync" type="radio" class="btn-group" label="COM_RSEVENTSPRO_CONF_SYNC_MOD" description="COM_RSEVENTSPRO_CONF_SYNC_MOD_DESC" default="1">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
	</fieldset>
	
	<fieldset name="generalsettings" label="COM_RSEVENTSPRO_CONF_GENERALSETTINGS" description="COM_RSEVENTSPRO_CONF_GENERALSETTINGS_DESC">
		
		<field name="default_image" type="file" label="COM_RSEVENTSPRO_CONF_DEFAULT_IMAGE" description="COM_RSEVENTSPRO_CONF_DEFAULT_IMAGE_DESC" />
		
		<field name="backendlist" type="list" label="COM_RSEVENTSPRO_BACKEND_LIST" description="COM_RSEVENTSPRO_BACKEND_LIST_DESC" default="0">
			<option value="0">COM_RSEVENTSPRO_BACKEND_LIST_TIMELINE</option>
			<option value="1">COM_RSEVENTSPRO_BACKEND_LIST_STANDARD</option>
		</field>
		
		<field name="modal" type="list" label="COM_RSEVENTSPRO_CONF_MODAL" description="COM_RSEVENTSPRO_CONF_MODAL_DESC" default="0">
			<option value="0">COM_RSEVENTSPRO_CONF_MODAL_NEW_PAGE</option>
			<option value="1">COM_RSEVENTSPRO_CONF_MODAL_JQUERY</option>
			<option value="2">COM_RSEVENTSPRO_CONF_MODAL_JOOMLA</option>
		</field>
		
		<field name="modal_width" type="text" label="COM_RSEVENTSPRO_CONF_MODAL_WIDTH" description="COM_RSEVENTSPRO_CONF_MODAL_WIDTH_DESC" class="input-small" size="5" default="800" />
		<field name="modal_heigth" type="text" label="COM_RSEVENTSPRO_CONF_MODAL_HEIGHT" description="COM_RSEVENTSPRO_CONF_MODAL_HEIGHT_DESC" class="input-small" size="5" default="600" />
		
		<field name="errors" type="list" label="COM_RSEVENTSPRO_CONF_ERRORS" description="COM_RSEVENTSPRO_CONF_ERRORS_DESC" default="0">
			<option value="0">COM_RSEVENTSPRO_CONF_ERRORS_JOOMLA_500</option>
			<option value="1">COM_RSEVENTSPRO_CONF_ERRORS_JOOMLA_403</option>
			<option value="2">COM_RSEVENTSPRO_CONF_ERRORS_REDIRECT</option>
		</field>
		
		<field name="reports" type="list" label="COM_RSEVENTSPRO_CONF_ENABLE_REPORTS" description="COM_RSEVENTSPRO_CONF_ENABLE_REPORTS_DESC" default="0">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="reports_guests" type="list" label="COM_RSEVENTSPRO_CONF_ENABLE_REPORTS_GUESTS" description="COM_RSEVENTSPRO_CONF_ENABLE_REPORTS_GUESTS_DESC" default="0">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		
		<field name="featured" type="list" label="COM_RSEVENTSPRO_CONF_FEATURED_EVENTS" description="COM_RSEVENTSPRO_CONF_FEATURED_EVENTS_DESC" default="0">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		
		<field name="color" type="list" label="COM_RSEVENTSPRO_CONF_CATEGORIES_COLOR" description="COM_RSEVENTSPRO_CONF_CATEGORIES_COLOR_DESC" default="0">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		
		<field name="postreminder" type="list" label="COM_RSEVENTSPRO_CONF_POSTREMINDER" description="COM_RSEVENTSPRO_CONF_POSTREMINDER_DESC" default="0">
			<option value="0">COM_RSEVENTSPRO_CONF_POSTREMINDER_ONCE</option>
			<option value="1">COM_RSEVENTSPRO_CONF_POSTREMINDER_MULTIPLE</option>
		</field>
		
		<field name="timezone" type="list" label="COM_RSEVENTSPRO_CONF_TIMEZONE" description="COM_RSEVENTSPRO_CONF_TIMEZONE_DESC" default="0">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		
		<field name="canonical" type="list" label="COM_RSEVENTSPRO_CONF_CANONICAL_CHILD" description="COM_RSEVENTSPRO_CONF_CANONICAL_CHILD_DESC" default="1">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		
		<field name="filter_from" type="list" label="COM_RSEVENTSPRO_CONF_FILTER_FROM" description="COM_RSEVENTSPRO_CONF_FILTER_FROM_DESC" default="events">
			<option value="events">COM_RSEVENTSPRO_FILTER_NAME</option>
			<option value="description">COM_RSEVENTSPRO_FILTER_DESCRIPTION</option>
			<option value="locations">COM_RSEVENTSPRO_FILTER_LOCATION</option>
			<option value="categories">COM_RSEVENTSPRO_FILTER_CATEGORY</option>
			<option value="tags">COM_RSEVENTSPRO_FILTER_TAG</option>
		</field>
		
		<field name="filter_condition" type="list" label="COM_RSEVENTSPRO_CONF_FILTER_CONDITION" description="COM_RSEVENTSPRO_CONF_FILTER_CONDITION_DESC" default="is">
			<option value="is">COM_RSEVENTSPRO_FILTER_CONDITION_IS</option>
			<option value="isnot">COM_RSEVENTSPRO_FILTER_CONDITION_ISNOT</option>
			<option value="contains">COM_RSEVENTSPRO_FILTER_CONDITION_CONTAINS</option>
			<option value="notcontain">COM_RSEVENTSPRO_FILTER_CONDITION_NOTCONTAINS</option>
		</field>
	</fieldset>
	
	<fieldset name="moderation" label="COM_RSEVENTSPRO_CONF_MODERATION" description="COM_RSEVENTSPRO_CONF_MODERATION_DESC">
		<field name="event_moderation_emails" type="text" label="COM_RSEVENTSPRO_CONF_EVENT_MODERATION" description="COM_RSEVENTSPRO_CONF_EVENT_MODERATION_DESC" class="input-xlarge" size="70" default="" />
		<field name="tags_moderation_emails" type="text" label="COM_RSEVENTSPRO_CONF_TAGS_MODERATION" description="COM_RSEVENTSPRO_CONF_TAGS_MODERATION_DESC" class="input-xlarge" size="70" default="" />
	</fieldset>
	
	<fieldset name="maintenance" label="COM_RSEVENTSPRO_CONF_MAINTENANCE" description="COM_RSEVENTSPRO_CONF_MAINTENANCE_DESC">
		<field name="auto_archive" type="radio" class="btn-group" label="COM_RSEVENTSPRO_CONF_AUTO_ARCHIVE" description="COM_RSEVENTSPRO_CONF_AUTO_ARCHIVE_DESC" default="1">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="archive_days" type="text" label="COM_RSEVENTSPRO_CONF_ARCHIVE_DAYS" description="COM_RSEVENTSPRO_CONF_ARCHIVE_DAYS_DESC" class="input-small" size="5" default="5" />
		<field name="incomplete" type="radio" class="btn-group" label="COM_RSEVENTSPRO_CONF_INCOMPLETE" description="COM_RSEVENTSPRO_CONF_INCOMPLETE_DESC" default="0">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="incomplete_minutes" type="text" label="COM_RSEVENTSPRO_CONF_INCOMPLETE_MINUTES" description="COM_RSEVENTSPRO_CONF_INCOMPLETE_MINUTES_DESC" class="input-small" size="5" default="5" />
	</fieldset>
	
	<fieldset name="registration" label="COM_RSEVENTSPRO_CONF_REGISTRATION" description="COM_RSEVENTSPRO_CONF_REGISTRATION_DESC">
		<field name="multi_registration" type="radio" class="btn-group" label="COM_RSEVENTSPRO_CONF_MULTI_REGISTRATION" description="COM_RSEVENTSPRO_CONF_MULTI_REGISTRATION_DESC" default="1">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="multi_tickets" type="radio" class="btn-group" label="COM_RSEVENTSPRO_CONF_MULTI_TICKETS" description="COM_RSEVENTSPRO_CONF_MULTI_TICKETS_DESC" default="0">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="must_login" type="radio" class="btn-group" label="COM_RSEVENTSPRO_CONF_MUST_LOGIN" description="COM_RSEVENTSPRO_CONF_MUST_LOGIN_DESC" default="0">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="create_user" type="list" label="COM_RSEVENTSPRO_CONF_CREATE_USER" description="COM_RSEVENTSPRO_CONF_CREATE_USER_DESC" default="1">
			<option value="2">COM_RSEVENTSPRO_CONF_CREATE_USER_AFTER_APPROVAL</option>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="user_display" type="list" label="COM_RSEVENTSPRO_CONF_USER_DISPLAY" description="COM_RSEVENTSPRO_CONF_USER_DISPLAY_DESC" default="0">
			<option value="0">COM_RSEVENTSPRO_CONF_USER_DISPLAY_NAME</option>
			<option value="1">COM_RSEVENTSPRO_CONF_USER_DISPLAY_USERNAME</option>
			<option value="2">COM_RSEVENTSPRO_CONF_USER_DISPLAY_JS</option>
			<option value="3">COM_RSEVENTSPRO_CONF_USER_DISPLAY_CB</option>
		</field>
		<field name="user_avatar" type="list" label="COM_RSEVENTSPRO_CONF_USER_AVATAR" description="COM_RSEVENTSPRO_CONF_USER_AVATAR_DESC" default="">
			<option value="">COM_RSEVENTSPRO_CONF_USER_AVATAR_NONE</option>
			<option value="gravatar">COM_RSEVENTSPRO_CONF_USER_AVATAR_GRAVATAR</option>
			<option value="comprofiler">COM_RSEVENTSPRO_CONF_USER_AVATAR_CB</option>
			<option value="community">COM_RSEVENTSPRO_CONF_USER_AVATAR_JS</option>
			<option value="kunena">COM_RSEVENTSPRO_CONF_USER_AVATAR_KUNENA</option>
			<option value="fireboard">COM_RSEVENTSPRO_CONF_USER_AVATAR_FIREBOARD</option>
			<option value="k2">COM_RSEVENTSPRO_CONF_USER_AVATAR_K2</option>
			<option value="easydiscuss">COM_RSEVENTSPRO_CONF_USER_AVATAR_EASY_DISCUSS</option>
			<option value="easysocial">COM_RSEVENTSPRO_CONF_USER_AVATAR_EASY_SOCIAL</option>
		</field>
		<field name="user_profile" type="list" label="COM_RSEVENTSPRO_CONF_USER_PROFILE" description="COM_RSEVENTSPRO_CONF_USER_PROFILE_DESC" default="0">
			<option value="0">COM_RSEVENTSPRO_CONF_USER_PROFILE_NONE</option>
			<option value="1">COM_RSEVENTSPRO_CONF_USER_PROFILE_JS</option>
			<option value="2">COM_RSEVENTSPRO_CONF_USER_PROFILE_CB</option>
			<option value="3">COM_RSEVENTSPRO_CONF_USER_PROFILE_EASYSOCIAL</option>
			<option value="4">COM_RSEVENTSPRO_CONF_USER_PROFILE_EASYDISCUSS</option>
		</field>
		<field name="event_owner" type="list" label="COM_RSEVENTSPRO_CONF_EVENT_OWNER" description="COM_RSEVENTSPRO_CONF_EVENT_OWNER_DESC" default="0">
			<option value="0">COM_RSEVENTSPRO_CONF_USER_DISPLAY_NAME</option>
			<option value="1">COM_RSEVENTSPRO_CONF_USER_DISPLAY_USERNAME</option>
			<option value="2">COM_RSEVENTSPRO_CONF_USER_DISPLAY_JS</option>
			<option value="3">COM_RSEVENTSPRO_CONF_USER_DISPLAY_CB</option>
			<option value="4">COM_RSEVENTSPRO_CONF_USER_DISPLAY_RSEVENTSPRO</option>
		</field>
		<field name="event_owner_profile" type="list" label="COM_RSEVENTSPRO_CONF_EVENT_OWNER_PROFILE" description="COM_RSEVENTSPRO_CONF_EVENT_OWNER_PROFILE_DESC" default="0">
			<option value="0">COM_RSEVENTSPRO_CONF_USER_PROFILE_NONE</option>
			<option value="1">COM_RSEVENTSPRO_CONF_USER_PROFILE_JS</option>
			<option value="2">COM_RSEVENTSPRO_CONF_USER_PROFILE_CB</option>
			<option value="3">COM_RSEVENTSPRO_CONF_USER_PROFILE_EASYSOCIAL</option>
			<option value="4">COM_RSEVENTSPRO_CONF_USER_PROFILE_EASYDISCUSS</option>
			<option value="5">COM_RSEVENTSPRO_CONF_USER_PROFILE_RSEVENTSPRO</option>
		</field>
		<field name="export_headers" type="radio" class="btn-group" label="COM_RSEVENTSPRO_CONF_EXPORT_HEADERS" description="COM_RSEVENTSPRO_CONF_EXPORT_HEADERS_DESC" default="1">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="active_events" type="radio" class="btn-group" label="COM_RSEVENTSPRO_CONF_ACTIVE_EVENTS" description="COM_RSEVENTSPRO_CONF_ACTIVE_EVENTS_DESC" default="1">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="seats_width" type="text" label="COM_RSEVENTSPRO_CONF_TICKETS_WIDTH" description="COM_RSEVENTSPRO_CONF_TICKETS_WIDTH_DESC" size="5" default="1280" class="input-small" />
		<field name="seats_height" type="text" label="COM_RSEVENTSPRO_CONF_TICKETS_HEIGHT" description="COM_RSEVENTSPRO_CONF_TICKETS_HEIGHT_DESC" size="5" default="800" class="input-small" />
	</fieldset>
	
	<fieldset name="comments" label="COM_RSEVENTSPRO_CONF_COMMENTS" description="COM_RSEVENTSPRO_CONF_COMMENTS_DESC">
		<field name="event_comment" type="list" label="COM_RSEVENTSPRO_CONF_EVENT_COMMENT" description="COM_RSEVENTSPRO_CONF_EVENT_COMMENT_DESC" default="0">
			<option value="0">COM_RSEVENTSPRO_CONF_EVENT_COMMENT_NONE</option>
			<option value="1">COM_RSEVENTSPRO_CONF_EVENT_COMMENT_FACEBOOK</option>
			<option value="2">COM_RSEVENTSPRO_CONF_EVENT_COMMENT_RSCOMMENTS</option>
			<option value="3">COM_RSEVENTSPRO_CONF_EVENT_COMMENT_JCOMMENTS</option>
			<option value="4">COM_RSEVENTSPRO_CONF_EVENT_COMMENT_JOMCOMMENTS</option>
			<option value="5">COM_RSEVENTSPRO_CONF_EVENT_COMMENT_DISQUS</option>
		</field>
		<field name="disqus_shortname" type="text" label="COM_RSEVENTSPRO_CONF_DISQUS_SHORTNAME" description="COM_RSEVENTSPRO_CONF_DISQUS_SHORTNAME_DESC" />
		<field name="facebook_admins" type="text" label="COM_RSEVENTSPRO_CONF_FACEBOOK_ADMINS" description="COM_RSEVENTSPRO_CONF_FACEBOOK_ADMINS_DESC" />
		<field name="facebook_order_by" type="list" label="COM_RSEVENTSPRO_CONF_FACEBOOK_ORDER_BY" description="COM_RSEVENTSPRO_CONF_FACEBOOK_ORDER_BY_DESC">
			<option value="social">COM_RSEVENTSPRO_CONF_FACEBOOK_SOCIAL</option>
			<option value="reverse_time">COM_RSEVENTSPRO_CONF_FACEBOOK_REVERSE_TIME</option>
			<option value="time">COM_RSEVENTSPRO_CONF_FACEBOOK_TIME</option>
		</field>
		<field name="facebook_color_scheme" type="list" label="COM_RSEVENTSPRO_CONF_FACEBOOK_COLOR_SCHEME" description="COM_RSEVENTSPRO_CONF_FACEBOOK_COLOR_SCHEME_DESC">
			<option value="light">COM_RSEVENTSPRO_LIGHT</option>
			<option value="dark">COM_RSEVENTSPRO_DARK</option>
		</field>
		<field name="facebook_num_posts" type="text" filter="int" default="5" label="COM_RSEVENTSPRO_CONF_FACEBOOK_NUM_POSTS" description="COM_RSEVENTSPRO_CONF_FACEBOOK_NUM_POSTS_DESC" />
		<field name="facebook_width" type="text" default="650" label="COM_RSEVENTSPRO_CONF_FACEBOOK_WIDTH" description="COM_RSEVENTSPRO_CONF_FACEBOOK_WIDTH_DESC" />
	</fieldset>
	
	<fieldset name="media" label="COM_RSEVENTSPRO_CONF_MEDIA" description="COM_RSEVENTSPRO_CONF_MEDIA_DESC">
		<field name="facebook_app_id" type="text" label="COM_RSEVENTSPRO_CONF_FACEBOOK_APP_ID" description="COM_RSEVENTSPRO_CONF_FACEBOOK_APP_ID_DESC" />
		<field name="icon_small_width" type="text" label="COM_RSEVENTSPRO_CONF_ICON_SMALL_WIDTH" description="COM_RSEVENTSPRO_CONF_ICON_SMALL_WIDTH_DESC" size="5" default="100" />
		<field name="icon_big_width" type="text" label="COM_RSEVENTSPRO_CONF_ICON_BIG_WIDTH" description="COM_RSEVENTSPRO_CONF_ICON_BIG_WIDTH_DESC" size="5" default="200" />
		<field name="user_icon_width" type="text" label="COM_RSEVENTSPRO_CONF_USER_ICON_WIDTH" description="COM_RSEVENTSPRO_CONF_USER_ICON_WIDTH_DESC" size="5" default="100" />
		<field name="speaker_icon_width" type="text" label="COM_RSEVENTSPRO_CONF_SPEAKER_ICON_WIDTH" description="COM_RSEVENTSPRO_CONF_SPEAKER_ICON_WIDTH_DESC" size="5" default="100" />
		<field name="speaker_icon_height" type="text" label="COM_RSEVENTSPRO_CONF_SPEAKER_ICON_HEIGHT" description="COM_RSEVENTSPRO_CONF_SPEAKER_ICON_HEIGHT_DESC" size="5" default="150" />
		<field name="extensions" type="text" label="COM_RSEVENTSPRO_CONF_EXTENSIONS" description="COM_RSEVENTSPRO_CONF_EXTENSIONS_DESC" default="zip,gif,jpg,txt" class="input-large" size="40" />
	</fieldset>
	
	<fieldset name="emails" label="COM_RSEVENTSPRO_CONF_EMAILS" description="COM_RSEVENTSPRO_CONF_EMAILS_DESC">
		<field name="email_from" type="text" label="COM_RSEVENTSPRO_CONF_EMAIL_FROM" description="COM_RSEVENTSPRO_CONF_EMAIL_FROM_DESC" size="50" default="" />
		<field name="email_fromname" type="text" label="COM_RSEVENTSPRO_CONF_EMAIL_FROMNAME" description="COM_RSEVENTSPRO_CONF_EMAIL_FROMNAME_DESC" size="50" default="" />
		<field name="email_replyto" type="text" label="COM_RSEVENTSPRO_CONF_EMAIL_REPLYTO" description="COM_RSEVENTSPRO_CONF_EMAIL_REPLYTO_DESC" size="50" default="" />
		<field name="email_replytoname" type="text" label="COM_RSEVENTSPRO_CONF_EMAIL_REPLYTONAME" description="COM_RSEVENTSPRO_CONF_EMAIL_REPLYTONAME_DESC" size="50" default="" />
		<field name="email_cc" type="text" label="COM_RSEVENTSPRO_CONF_EMAIL_CC" description="COM_RSEVENTSPRO_CONF_EMAIL_CC_DESC" size="50" default="" />
		<field name="email_bcc" type="text" label="COM_RSEVENTSPRO_CONF_EMAIL_BCC" description="COM_RSEVENTSPRO_CONF_EMAIL_BCC_DESC" size="50" default="" />
	</fieldset>
	
	<fieldset name="maps" label="COM_RSEVENTSPRO_CONF_MAPS" description="COM_RSEVENTSPRO_CONF_MAPS_DESC">
		<field name="enable_google_maps" type="radio" class="btn-group" label="COM_RSEVENTSPRO_CONF_ENABLE_GOOGLE_MAPS" description="COM_RSEVENTSPRO_CONF_ENABLE_GOOGLE_MAPS_DESC" default="1">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="google_map_api" type="text" label="COM_RSEVENTSPRO_CONF_GOOGLE_MAP_API" description="COM_RSEVENTSPRO_CONF_GOOGLE_MAP_API_DESC" size="10" default="" />
		<field name="google_map_zoom" type="text" label="COM_RSEVENTSPRO_CONF_GOOGLE_MAP_ZOOM" description="COM_RSEVENTSPRO_CONF_GOOGLE_MAP_ZOOM_DESC" size="10" default="12" />
		<field name="google_maps_center" type="text" label="COM_RSEVENTSPRO_CONF_GOOGLE_MAPS_CENTER" description="COM_RSEVENTSPRO_CONF_GOOGLE_MAPS_CENTER_DESC" size="50" default="39.5500507,-105.7820674" />
		<field name="google_map_directions" type="radio" class="btn-group" label="COM_RSEVENTSPRO_CONF_GOOGLE_MAP_DIRECTIONS" description="COM_RSEVENTSPRO_CONF_GOOGLE_MAP_DIRECTIONS_DESC" default="1">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
	</fieldset>
	
	<fieldset name="captcha" label="COM_RSEVENTSPRO_CONF_CAPTCHA">
		<field name="recaptcha_site_key" class="input-xlarge" type="text" label="COM_RSEVENTSPRO_CONF_CAPTCHA_SITE_KEY" description="COM_RSEVENTSPRO_CONF_CAPTCHA_SITE_KEY_DESC" size="70" />
		<field name="recaptcha_secret_key" class="input-xlarge" type="text" label="COM_RSEVENTSPRO_CONF_CAPTCHA_SECRET_KEY" description="COM_RSEVENTSPRO_CONF_CAPTCHA_SECRET_KEY_DESC" size="70" />
		<field name="recaptcha_theme" type="list" default="light" label="COM_RSEVENTSPRO_CONF_CAPTCHA_THEME" description="COM_RSEVENTSPRO_CONF_CAPTCHA_THEME_DESC">
			<option value="light">COM_RSEVENTSPRO_CONF_CAPTCHA_THEME_LIGHT</option>
			<option value="dark">COM_RSEVENTSPRO_CONF_CAPTCHA_THEME_DARK</option>
		</field>
		<field name="recaptcha_type" type="list" default="image" label="COM_RSEVENTSPRO_CONF_CAPTCHA_TYPE" description="COM_RSEVENTSPRO_CONF_CAPTCHA_TYPE_DESC">
			<option value="image">COM_RSEVENTSPRO_CONF_CAPTCHA_TYPE_IMAGE</option>
			<option value="audio">COM_RSEVENTSPRO_CONF_CAPTCHA_TYPE_AUDIO</option>
		</field>
	</fieldset>
	
	<fieldset name="payments" label="COM_RSEVENTSPRO_CONF_PAYMENTS" description="COM_RSEVENTSPRO_CONF_PAYMENTS_DESC">
		<field name="default_payment" type="rspayments" label="COM_RSEVENTSPRO_CONF_DEFAULT_PAYMENT" description="COM_RSEVENTSPRO_CONF_DEFAULT_PAYMENT_DESC" default="0" />
		<field name="payment_type" type="radio" class="btn-group" label="COM_RSEVENTSPRO_CONF_PAYMENT_TYPE" description="COM_RSEVENTSPRO_CONF_PAYMENT_TYPE_DESC" default="0">
			<option value="0">COM_RSEVENTSPRO_CONF_PAYMENT_TYPE_RADIO</option>
			<option value="1">COM_RSEVENTSPRO_CONF_PAYMENT_TYPE_LIST</option>
		</field>
		<field name="payment_paypal" type="radio" class="btn-group" label="COM_RSEVENTSPRO_CONF_PAYMENT_USER_PAYPAL" description="COM_RSEVENTSPRO_CONF_PAYMENT_USER_PAYPAL_DESC" default="0">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		
		<field name="payment_currency" type="text" label="COM_RSEVENTSPRO_CONF_PAYMENT_CURRENCY" description="COM_RSEVENTSPRO_CONF_PAYMENT_CURRENCY_DESC" size="5" default="EUR" />
		<field name="payment_currency_sign" type="text" label="COM_RSEVENTSPRO_CONF_PAYMENT_CURRENCY_SIGN" description="COM_RSEVENTSPRO_CONF_PAYMENT_CURRENCY_SIGN_DESC" size="5" default="€" />
		<field name="payment_thousands" type="text" label="COM_RSEVENTSPRO_CONF_PAYMENT_THOUSANDS" description="COM_RSEVENTSPRO_CONF_PAYMENT_THOUSANDS_DESC" size="5" default="," />
		<field name="payment_decimal" type="text" label="COM_RSEVENTSPRO_CONF_PAYMENT_DECIMAL" description="COM_RSEVENTSPRO_CONF_PAYMENT_DECIMAL_DESC" size="5" default="." />
		<field name="payment_decimals" type="text" label="COM_RSEVENTSPRO_CONF_PAYMENT_DECIMALS" description="COM_RSEVENTSPRO_CONF_PAYMENT_DECIMALS_DESC" size="5" default="2" />
		<field name="payment_mask" type="text" label="COM_RSEVENTSPRO_CONF_PAYMENT_MASK" description="COM_RSEVENTSPRO_CONF_PAYMENT_MASK_DESC" size="10" default="%p %c" />
	</fieldset>
	
	<fieldset name="google" label="COM_RSEVENTSPRO_CONF_GOOGLE" description="COM_RSEVENTSPRO_CONF_GOOGLE_DESC">
		<field name="google_client_id" type="text" label="COM_RSEVENTSPRO_CONF_GOOGLE_CLIENT_ID" description="COM_RSEVENTSPRO_CONF_GOOGLE_CLIENT_ID_DESC" size="30" default="" />
		<field name="google_secret" type="text" label="COM_RSEVENTSPRO_CONF_GOOGLE_SECRET" description="COM_RSEVENTSPRO_CONF_GOOGLE_SECRET_DESC" size="30" default="" />
		<field name="google_category" type="category" extension="com_rseventspro" published="1" label="COM_RSEVENTSPRO_CONF_GOOGLE_CATEGORY" description="COM_RSEVENTSPRO_CONF_GOOGLE_CATEGORY_DESC" size="1" default="" />
		<field name="google_location" type="rslocations" label="COM_RSEVENTSPRO_CONF_GOOGLE_LOCATION" description="COM_RSEVENTSPRO_CONF_GOOGLE_CATEGORY_DESC" size="1" default="" />
		<field name="google_expired" type="radio" class="btn-group" label="COM_RSEVENTSPRO_CONF_FACEBOOK_EXPIRED" description="COM_RSEVENTSPRO_CONF_FACEBOOK_EXPIRED_DESC" default="1">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
	</fieldset>

	<fieldset name="fb" label="COM_RSEVENTSPRO_CONF_FACEBOOK_CREDENTIALS">
		<field type="text" name="facebook_appid" default="" label="COM_RSEVENTSPRO_CONF_FACEBOOK_ID" />
		<field type="text" name="facebook_secret" default="" label="COM_RSEVENTSPRO_CONF_FACEBOOK_SECRET" />
	</fieldset>
	
	<fieldset name="facebook" label="COM_RSEVENTSPRO_CONF_FACEBOOK" description="COM_RSEVENTSPRO_CONF_FACEBOOK_DESC">
		<field name="facebook_category" type="category" extension="com_rseventspro" published="1" label="COM_RSEVENTSPRO_CONF_FACEBOOK_CATEGORY" description="COM_RSEVENTSPRO_CONF_FACEBOOK_CATEGORY_DESC" size="1" default="" />
		<field name="facebook_location" type="rslocations" label="COM_RSEVENTSPRO_CONF_FACEBOOK_LOCATION" description="COM_RSEVENTSPRO_CONF_FACEBOOK_LOCATION_DESC" size="1" default="" />
		<field name="facebook_profile" type="radio" class="btn-group" label="COM_RSEVENTSPRO_CONF_FACEBOOK_PROFILE" description="COM_RSEVENTSPRO_CONF_FACEBOOK_PROFILE_DESC" default="1">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="facebook_check_owner_profile" type="radio" class="btn-group" label="COM_RSEVENTSPRO_CONF_FACEBOOK_CHECK_OWNER_PROFILE" description="COM_RSEVENTSPRO_CONF_FACEBOOK_CHECK_OWNER_DESC" default="1">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="facebook_pages" type="fbpages" label="COM_RSEVENTSPRO_CONF_FACEBOOK_PAGES" description="COM_RSEVENTSPRO_CONF_FACEBOOK_PAGES_DESC" size="5" default="" multiple="true" />
		<field name="facebook_check_owner" type="radio" class="btn-group" label="COM_RSEVENTSPRO_CONF_FACEBOOK_CHECK_OWNER" description="COM_RSEVENTSPRO_CONF_FACEBOOK_CHECK_OWNER_DESC" default="1">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="facebook_expired" type="radio" class="btn-group" label="COM_RSEVENTSPRO_CONF_FACEBOOK_EXPIRED" description="COM_RSEVENTSPRO_CONF_FACEBOOK_EXPIRED_DESC" default="1">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="facebook_recurring" type="radio" class="btn-group" label="COM_RSEVENTSPRO_CONF_FACEBOOK_RECURRING" description="COM_RSEVENTSPRO_CONF_FACEBOOK_RECURRING_DESC" default="1">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
	</fieldset>
	
	<fields name="gallery">
		<fieldset name="gallery" label="COM_RSEVENTSPRO_CONF_GALLERY" description="COM_RSEVENTSPRO_CONF_GALLERY_DESC">
			<field name="thumb_resolution" type="rsresolution" label="COM_RSEVENTSPRO_CONF_THUMB_RESOLUTION" description="COM_RSEVENTSPRO_CONF_THUMB_RESOLUTION_DESC" size="5" default="w,280" />
			<field name="full_resolution" type="rsresolution" label="COM_RSEVENTSPRO_CONF_FULL_RESOLUTION" description="COM_RSEVENTSPRO_CONF_FULL_RESOLUTION_DESC" size="5" default="w,600" />
			
			<field name="use_original" type="radio" class="btn-group" label="COM_RSEVENTSPRO_CONF_GALLERY_USE_ORIGINAL" description="COM_RSEVENTSPRO_CONF_GALLERY_USE_ORIGINAL_DESC" default="1">
				<option value="1">JYES</option>
				<option value="0">JNO</option>
			</field>
			<field name="ordering" type="list" label="COM_RSEVENTSPRO_CONF_GALLERY_ORDERING" description="COM_RSEVENTSPRO_CONF_GALLERY_ORDERING_DESC" default="title" size="1">
				<option value="ordering">COM_RSEVENTSPRO_CONF_GALLERY_ORDERING_ORDERING</option>
				<option value="title">COM_RSEVENTSPRO_CONF_GALLERY_ORDERING_TITLE</option>
				<option value="description">COM_RSEVENTSPRO_CONF_GALLERY_ORDERING_DESCR</option>
				<option value="hits">COM_RSEVENTSPRO_CONF_GALLERY_ORDERING_HITS</option>
				<option value="created">COM_RSEVENTSPRO_CONF_GALLERY_ORDERING_CREATED</option>
				<option value="modified">COM_RSEVENTSPRO_CONF_GALLERY_ORDERING_MODIFIED</option>
			</field>
			<field name="direction" type="list" label="COM_RSEVENTSPRO_CONF_GALLERY_DIRECTION" description="COM_RSEVENTSPRO_CONF_GALLERY_DIRECTION_DESCR" default="ASC" size="1">
				<option value="ASC">COM_RSEVENTSPRO_CONF_GALLERY_DIRECTION_ASC</option>
				<option value="DESC">COM_RSEVENTSPRO_CONF_GALLERY_DIRECTION_DESC</option>
			</field>
			<field name="limit" type="text" label="COM_RSEVENTSPRO_CONF_GALLERY_LIMIT" description="COM_RSEVENTSPRO_CONF_GALLERY_LIMIT_DESC" size="10" default="" />
			<field name="show_title" type="radio" class="btn-group" label="COM_RSEVENTSPRO_CONF_GALLERY_SHOW_TITLE" description="COM_RSEVENTSPRO_CONF_GALLERY_SHOW_TITLE_DESC" default="1">
				<option value="1">JYES</option>
				<option value="0">JNO</option>
			</field>
			<field name="show_description" type="radio" class="btn-group" label="COM_RSEVENTSPRO_CONF_GALLERY_SHOW_DESCRIPTION" description="COM_RSEVENTSPRO_CONF_GALLERY_SHOW_DESCRIPTION_DESC" default="1">
				<option value="1">JYES</option>
				<option value="0">JNO</option>
			</field>
		</fieldset>
	</fields>
	
	<fieldset name="yahoo" label="COM_RSEVENTSPRO_CONF_YAHOO" description="COM_RSEVENTSPRO_CONF_YAHOO_DESC">
		<field name="yahoo_appid" type="text" label="COM_RSEVENTSPRO_CONF_YAHOO_APPID" description="COM_RSEVENTSPRO_CONF_YAHOO_APPID_DESC" size="30" default="" />
		<field name="yahoo_key" type="text" label="COM_RSEVENTSPRO_CONF_YAHOO_KEY" description="COM_RSEVENTSPRO_CONF_YAHOO_KEY_DESC" size="30" default="" />
		<field name="yahoo_secret" type="text" label="COM_RSEVENTSPRO_CONF_YAHOO_SECRET" description="COM_RSEVENTSPRO_CONF_YAHOO_SECRET_DESC" size="30" default="" />
	</fieldset>
	
	<field name="incomplete_minutes_check" type="hidden" filter="unset" />
	<field name="archive_check" type="hidden" filter="unset" />
	<field name="rules_check" type="hidden" filter="unset" />
	
	<field name="captcha" type="list" label="COM_RSEVENTSPRO_CONF_SELECT_CAPTCHA" description="COM_RSEVENTSPRO_CONF_SELECT_CAPTCHA_DESC" default="1" size="1">
		<option value="1">COM_RSEVENTSPRO_CONF_SELECT_CAPTCHA_1</option>
		<option value="2">COM_RSEVENTSPRO_CONF_SELECT_CAPTCHA_2</option>
	</field>
	
	<field name="enable_gallery" type="radio" class="btn-group" label="COM_RSEVENTSPRO_CONF_ENABLE_GALLERY" description="COM_RSEVENTSPRO_CONF_ENABLE_GALLERY_DESC" default="0">
		<option value="1">JYES</option>
		<option value="0">JNO</option>
	</field>
	
	<field type="hidden" name="facebook_token" default="" />

</form>