div.formCaption {
	float: right;
}

div.formBody {
	float: right;
}

.formHidden {
	position: absolute;
	left: auto;
	right: -20000px;
	top: -20000px;
	opacity: 0;
	visibility: hidden;
}