.rs_events_container {
	list-style: none outside none !important;
    margin: 0 auto !important;
    padding: 0 !important;
    width: 99%;
}

.rs_events_container li {
	padding: 5px !important;
	overflow: hidden;
}

.rs_event_image {
	float: left;
	padding: 5px 5px 0;
}

.rs_event_details {
	line-height: 20px;
}

.rs_event_detail {
	background: none repeat scroll 0 0 #F2F3F6 !important;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
    box-shadow: 2px 1px 2px rgba(203, 210, 217, 0.9);
    margin: 0 0 15px !important;
    padding: 5px 10px !important;
}

.rs_event_detail:hover {
	background: #eee none repeat scroll 0 0 !important;
}

.rs_read_more {
	background: none repeat scroll 0 0 #F2F3F6 !important;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
    box-shadow: 2px 1px 2px rgba(203, 210, 217, 0.9);
    display: block;
    height: 50px;
    line-height: 50px;
    margin: 10px 0 20px;
    padding: 0 10px;
    text-align: center;
	cursor: pointer;
	text-decoration: none;
}

.rs_read_more:hover {
	background: none repeat scroll 0 0 #FFFFFF !important;
	text-decoration: none !important;
	color: #333333 !important;
}

.rs_event_image img {
	background: none no-repeat scroll 50% 50% transparent;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    display: inline-block;
}

.rs_events_container a, .rs_events_container a:hover {
	text-decoration: none;
}

.rs_search {
	border: 1px solid #C8C8C8;
    margin-bottom: 10px;
    /* overflow: hidden; */
    padding: 10px;
	min-height: 45px;
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.rs_loader {
	text-align: center !important;
}

.rs_hidden {
	display: none !important;
}

.rs_options {
	float: right;
}

.rs_incomplete {
	background: url("../images/stripes.png") repeat scroll right bottom transparent !important;
}

.rs_clear {
	width: 100%;
	display: block;
	clear: both;
	height: 1px;
	font-size: 1px;
	line-height: 1px;
}

#rs_directions {
	width: 100%;
}

a.rsepro_plus {
	left: 3px;
    position: relative;
    top: 1px;
}

a.rsepro_minus {
	left: 3px;
    position: relative;
    top: 1px;
}

a.rsepro_plus img, a.rsepro_minus img {
	float: none !important;
	margin: 0 !important;
}

.rsepro_extra_off {
	display: none;
}

.rsepro_extra_on {
	display: inline;
}
	
div.rs_heading {
	font-size: 1.4em;
	line-height: 1.4em;
}
	
div.rs_heading a {
	margin-right: 15px;
}
	
.rs_description {
	margin-top: 10px;
}

#locationForm label {
	display: block;
    float: left;
    width: 10%;
}

#locationForm input {
    width: 50%;
}

.rs_rss {
	margin: 5px;
    text-align: right !important;
    width: 99%;
}

.rs_image {
	float: right;
	padding: 5px;
}

.rs_files, .rs_av_tickets {
	list-style: none outside none !important;
	padding: 0 !important;
	margin-left: 10px !important;
}

#rsepro-rating {
	cursor: pointer;
	list-style: outside none none;
    margin-top: 9px;
	margin-left: 0;
}

#rsepro-rating li {
	float: left;
	margin-right: 5px;
}

#rsepro-rating a {
	font-size: 15px;
}

#rsepro-rating .fa-star {
	color: #e3cf7a;
}

#rsepro-rating a:hover,
#rsepro-rating a:focus,
#rsepro-rating a:active {
	text-decoration: none;
}

.rs_comments {
	width: 90%;
	margin-top: 10px;
}

.rs_sharing {
	margin-top: 10px;
}

.rs_files_container {
	margin-top: 10px;
}

.rs_export {
	border-top: 1px solid #C8C8C8;
}

.rs_export a {
	font-size: 11px !important;
}

.rs_export a {
	background: none !important;
	color: #095197 !important;
}

.rs_controls {
	margin-top: 10px;
	margin-bottom: 10px;
}

.rs_button_control {
	background: none repeat scroll 0 0 #D8D8D8;
	color: #333333 !important;
	padding: 5px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-decoration: none !important;
	float: left;
	margin-right: 5px;
}

.rs_button_control:hover {
	text-decoration: none;
	background: none repeat scroll 0 0 #f9f9f9 !important;
	color: #0B3768 !important;
}

ul#rsep_admin {
	list-style: none outside none !important;
	padding: 0 !important;
	margin: 0 !important;
	float: left;
}

ul#rsep_admin li {
	cursor: pointer;
	position: relative;
	background: none repeat scroll 0 0 transparent;
	padding: 0;
	overflow: visible;
}

.rs_subscribe_label, .rs_wire {
	float: left;
    text-align: left;
    width: 15%;
}

.rs_error {
	border: 1px solid red !important;
}

.rs_message_info {
	background: none repeat scroll 0 0 #E6E5E5;
    font-size: 28px;
	line-height: 28px;
    font-weight: bold;
    padding: 15px;
    text-align: center;
    width: 94%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-top: 10px;
	margin-left: 5px;
}

.rs_my_subscription,
.rs_table_layout {
	width: 100%;
	background: none repeat scroll 0 0 #FCFCFC;
	overflow: hidden;
	border-bottom: 1px solid #E8E7E7;
}

.rs_my_subscription span,
.rs_table_layout span {
	float: left;
	padding: 1%;
	background: #FCFCFC;
}

.rs_my_subscription3 span,
.rs_table_layout span {
	width: 29%;
}

.rs_my_subscription4 span {
	width: 20%;
}

.rs_my_subscription span span,
.rs_table_layout span span {
	width: 100%;
	padding: 0;
}

.rs_subscription_id,
.rs_table_id {
	width: 4% !important;
}

.rsspan70 {
	width: 70%;
}

.rsspan10 {
	width: 10%;
}

div.rs_subscription_header,
div.rs_table_header {
	background: #E8E7E7;
	overflow: hidden;
}

.rs_subscription_header span,
.rs_table_header span {
	font-weight: bold;
	padding: 1%;
	background: #E8E7E7;
}

.rs_subscribers {
	width: 100%;
	float: left;
}

.rs_subscribers_right {
	float: right;
}

.rs_status {
	float: right;
}

.rs_inline {
	display:inline;
}

.rs_table tr, .rs_table td {
	border: medium none;
}

.rs_guests {
	list-style: none outside none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.rs_guests li {
	display: block;
    float: left;
    height: 115px;
    margin-right: 5px !important;
    padding: 5px !important;
    text-align: center;
    width: 66px;
}

.rs_guests li img {
	display: block;
}

.rs_invite_btn {
	background: none repeat scroll 0 0 #4D90FE;
    padding: 5px;
	text-decoration: none !important;
	color: #fff !important;
	border: 1px solid #3079ED;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.rs_invite_btn:hover {
	text-decoration: none !important;
	background: none repeat scroll 0 0 #3481FE;
}

.explain {
	color: #999999;
    display: block;
    font-size: 10px;
}

.rs_calendar_legend {
	padding: 5px;
}

.rs_calendar_legend span{
	padding: 0 0 1px 10px;
}

.rs_calendar_legend_span {
	display: block;
    float: left;
    height: 10px;
    margin-right: 3px;
}

.rs_cal_select {
	padding: 4px;
}

.rs_offline {
	background: url("../images/info.png") no-repeat scroll 0 0 transparent;
	height: 48px;
	padding-left: 55px;
	padding-top: 15px;
	margin: 50px 0 0 15px;
	font-weight: bold;
}

.rs_payment_offline {
	padding: 15px;
}

#rs_whats_csc {
	border-bottom: 1px dotted #666666;
	cursor: pointer;
	text-decoration: none;
}

#rs_tt {position:absolute; display:block; background:#fff; border: solid 1px #E6E6E6}
#rs_tttop {display:block; height:5px; margin-left:5px; background:#fff; overflow:hidden}
#rs_ttcont {display:block; padding:2px 12px 3px 7px; margin-left:5px; background:#fff; color:#666}
#rs_ttbot {display:block; height:5px; margin-left:5px; background:#fff; overflow:hidden}

#rs_event_show {
    margin: 10px 0;
    width: 100%;
}

.rsep_date {
	margin: 4px 0px 4px 0px !important;
	line-height: 24px;
}

.rsep_date i,
.rsep_location i ,
.rsep_mail i,
.rsep_phone i,
.rsep_email i,
.rsep_categories i,
.rsep_hits i,
.rsep_tags i,
.rsep_posted i {
	font-size: 16px;
}

.rsep_location{
	margin: 4px 0px 4px 0px !important;
	line-height: 20px;
}
.rsep_tags{
	margin: 4px 0px 4px 0px !important;
	line-height: 20px;
}

.rsep_categories{
	margin: 4px 0px 4px 0px !important;
	line-height: 20px;
}

.rsep_hits{
	margin: 4px 0px 4px 0px !important;
	line-height: 20px;
}

.rsep_posted {
	margin: 4px 0px 4px 0px !important;
	line-height: 20px;
}

.rsep_mail{
	margin: 4px 0px 4px 0px !important;
	line-height:20px;
}
.rsep_phone{
	margin: 4px 0px 4px 0px !important;
	line-height:20px;
}
.rsep_url{
	margin: 4px 0px 4px 0px !important;
	line-height:20px;
}

ul.rs_files li{
	float:left !important;
	margin-right: 30px !important;
}

#rs_event_show ul.rs_files li a, 
#rs_event_show ul.rs_files li a:hover,
#rs_event_show ul.rs_files li a:active,
#rs_event_show ul.rs_files li a:focus
{
	text-decoration: none;
}

.rsep_export{
	font-size: 10px;
}

.rsep_contact_block {
	margin: 15px 0;
}

.rsep_taxonomy_block {
	margin: 15px 0;
}

.rs_filter_clear {
	padding: 5px;
	text-decoration: none;
}

.rs_filter_clear:hover, .rs_filter_clear:active, .rs_filter_clear:focus {
	background: none !important;
	color: inherit !important;
}

.rs_repeats {
	list-style: none outside none !important;
    margin-left: 10px !important;
    padding: 0 !important;
	overflow: hidden;
	height: 70px;
}

.rs_repeats_control {
	text-align: center;
	border-top: 2px solid #D8D8D8;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

.rs_repeats_control a, 
.rs_repeats_control a:hover, 
.rs_repeats_control a:focus, 
.rs_repeats_control a:active {
	text-decoration: none;
} 

.rs_event_repeats {
	float: right;
}

.rs200 {
	width: 200px;
}

.rs_level_1 {

}

.rs_level_2 {
	margin-left: 25px !important;
}

.rs_level_3 {
	margin-left: 50px !important;
}

.rs_level_4 {
	margin-left: 75px !important;
}

.rs_level_5 {
	margin-left: 100px !important;
}

.rs_level_6 {
	margin-left: 125px !important;
}

.rsepro_legend_block {
	height: 25px;
    padding: 5px;
}

.rsepro_legend_color {
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
}

.rsepro_legend_text {
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	font-weight: bold;
	width: 85%;
	margin-left: 5px;
}

.subscriber_container {
	overflow: hidden;
    padding: 5px !important;
}

.subscriber_event {
	text-align: center;
	font-weight: bold;
}

.subscriber_confirmation {
	text-align: center;
}

.subscriber_confirmed {
	color: #008000;
}

.subscriber_image {
	float: left;
    padding: 5px;
}

.subscriber_details {
	line-height: 20px;
}

.subscriber_details span {
    display: block;
}

.subscriber_info {
	width: 100%;
}

.subscriber_left {
	display: block;
    float: left;
    width: 50%;
}

.subscriber_right {
	display: block;
    float: right;
    width: 50%;
}

.subscriber_right span {
    display: block;
}

.rs_featured {
	background: none repeat scroll 0 0 #E4E6EC !important;
}

.rs_featured_event {
	background: none repeat scroll 0 0 #E4E6EC !important;
	padding: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.rse_print {
	padding: 10px;
}

.rse_print .center {
	text-align: center;
}

.rse_print .description {
	text-align: justify;
}

#rs_event_show .description {
	text-align: justify;
}


.rsepro-filter-filters li {
    margin-bottom: 5px;
}

.rsepro-month-year {
	background: none repeat scroll 0 0 #D5D8E1 !important;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
    box-shadow: 2px 1px 2px rgba(203, 210, 217, 0.9);
    margin: 0 0 5px !important;
    padding: 5px 10px !important;
	font-weight: bold;
}

.rsepro-month-year span {
	padding: 10px;
}

#rsepro-cart-details tr.rsepro-cart-options td {
	text-align: right;
}

#rsepro-cart-details tr.rsepro-cart-options td:nth-child(1),
#rsepro-cart-details tr.rsepro-cart-ticket td:nth-child(1) {
	width: 80%;
}

#rsepro-cart-details tr.rsepro-cart-ticket td:nth-child(2),
#rsepro-cart-details tr.rsepro-cart-ticket td:last-child {
	text-align: right;
	vertical-align: middle;
}

.rsepro-locations-results-wrapper {
	position: absolute;
	width: 530px;
}

.rsepro-locations-results {
	position: absolute;
    z-index: 999;
    background-color: #fff;
    list-style-type: none !important;
    margin: 0 !important;
    padding-right: 10px;
    padding: 0 !important;
	font-size: 13px !important;
	white-space: normal !important;
	border: 1px solid #c8c8c8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 100%;
}

.rsepro-locations-results > li {
    cursor: pointer;
    padding: 5px;
}

.rsepro-locations-results > li:hover {
    background: none repeat scroll 0 0 #f5f5f5;
}

.rsepro-edit-event.tabs-left > .nav-tabs {
	width: 30%;
}

.rsepro-edit-event > .tab-content {
	width: 64%;
}

.rsepro-crop-container {
	text-align: center;
}

#cropcontainer {
	border: 10px solid #ddd;
	margin: 0 auto;
}

.rsepro_legend_selected, .rsepro_legend_selected:hover {
	text-decoration: underline;
}

#rse-g-recaptcha > div > div.invalid {
    border: 1px solid red;
}

#rsepro-map-results-table {
	margin-top: 15px;
}

#rsepro-map-results td {
    vertical-align: middle;
}

#rsepro-map-results td:nth-child(1) {
    width: 30%;
}

.rsepro-locations-list .well:hover,
.rsepro-categories-list .well:hover {
	box-shadow: 2px 1px 2px rgba(203, 210, 217, 0.9);
	-webkit-transition: box-shadow .2s ease-out;
	-moz-transition: box-shadow .2s ease-out;
	-o-transition: box-shadow .2s ease-out;
	-ms-transition: box-shadow .2s ease-out;
	transition: box-shadow .2s ease-out;
}

#rseform .rsepro-timezone {
	margin-right: 5px;
}

.rsepro-social {
	float: left;
	margin-right: 20px;
}

#rsepro-directions-panel table {
    width: 100%;
}

#rsepro-filter-price {
    padding: 11px 15px;
}

.rsepro-min-price {
	margin-right: 15px;
}

.rsepro-max-price {
	margin-left: 15px;
}

.rsepro-small-description-block {
    text-align: justify;
}

.rsepro-title-block {
    font-size: 15px;
    font-weight: bold;
}

.rs_event_details > div {
    margin-bottom: 5px;
}

.rsepro_event_image {
	display: block;
	margin: 0 auto;
	max-height: 70vh;
}

.rsepro-user-image {
	float: left;
	padding: 0 10px 10px 0;
}

.rsepro-events-ul {
	max-height: 200px;
	overflow: auto;
}

.rsepro-map-info {
	min-width: 350px;
}

.rsepro-map-info-name {
	font-weight: bold;
}

.rsepro-map-info-image {
	float: left;
	margin-right: 10px;
}

@media (max-width: 500px) {
	.rsepro-map-info {
		min-width: auto;
	}
}

@media screen and (max-width: 767px) {
	.rsepro-edit-event > .tab-content,
	.rsepro-edit-event.tabs-left > .nav-tabs {
		width: 90%;
	}

	.rsepro-edit-event > .nav-tabs > li {
		text-align: center !important;
	}
}

@media screen and (min-width: 768px) and (max-width: 959px) {
	.rsepro-edit-event > .tab-content {
		width: 53%;
	}
	.rsepro-edit-event.tabs-left > .nav-tabs {
		width: 39%;
	}
}

@media screen and (min-width: 960px) and (max-width: 979px) {
	.rsepro-edit-event > .tab-content {
		width: 53%;
	}
	.rsepro-edit-event.tabs-left > .nav-tabs {
		width: 39%;
	}
}

@media screen and (min-width: 980px) and (max-width: 1023px) {
	.rsepro-edit-event > .tab-content {
		width: 62%;
	}
	.rsepro-edit-event.tabs-left > .nav-tabs {
		width: 32%;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
	.rsepro-edit-event > .tab-content {
		width: 60%;
	}
	.rsepro-edit-event.tabs-left > .nav-tabs {
		width: 30%;
	}
}

#map-canvas img {
	max-width: none;
}

#rseprosearch {
	height: 14px;
}

.rs_subscribers_right {
	float: none;
}

.rs_subscribers button {
	margin-bottom: 9px;	
}

.rs_table label {
	display: inline-block;
}

.rs_table select#subscribers{
	height: auto;
}

#rsegetdir {
	margin-bottom: 9px;
}

#locationForm label {
	float: none;
}

#rs_results {
	margin: 12px 0 0;
	z-index: 99;
}

ul#rs_filters {
	margin: 0;
}

.rs_button_control {
	margin-bottom: 5px;
}

#rs_event_main fieldset legend {
	width: auto !important;
	margin-bottom: 0 !important;
	line-height: auto !important;
	border: none !important;
}

#rs_event_main fieldset .rs_sel_smaller,
#rs_event_main fieldset .rs_sel {
	height: auto !important;
}

#rs_event_main img,
#map-canvas img {
	max-width: none;
}

#categories_chzn {
	float: left;
}

ul.autocompleter-choices {
	margin-left: 0;
	margin-top: 10px;
}

.rs_add_category {
	margin-left: 5px !important;
}

#rsepro_payment .controls .controls {
	margin-left: 0;
}

#rsepro_payment .controls label {
	display: inline-block;
    margin-right: 5px;
    padding-top: 0;
}

textarea.invalid {
    border: 1px solid #9D261D;
}

@media (max-width: 480px) {
	.rs_image {
		float: none;
	}
}

.rsepro-counter {
	text-align: center;
}

#rsepro-counter {
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#rsepro-counter > div{
	padding: 10px;
	border-radius: 3px;
	background: #00BF96;
	display: inline-block;
}

#rsepro-counter div > span{
	padding: 15px;
	border-radius: 3px;
	background: #00816A;
	display: inline-block;
}

.rsepro-counter-text {
	padding-top: 5px;
	font-size: 16px;
}

#rsepro-counter-container {
	background: #f5f5f5;
    padding: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.controls .rsepro-text {
	padding-top: 5px;
}

.rsepro-category-row2 {
	float: left;
	width: 47.936170208%;
	*width: 47.882978718638%;
}

.rsepro-category-row3 {
	float: left;
	width: 30.914893614%;
	*width: 30.861702124638%;
}

.rsepro-category-row4 {
	float: left;
	width: 22.404255317%;
	*width: 22.351063827638%;
}

.rsepro-speaker-description {
	max-height: 150px;
	overflow: hidden;
	height: auto;
}

.rsepro-speaker-info {
	text-align: center;
	margin: 0 auto;
	list-style: none;
}

.rsepro-speaker-info li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-right: 5px;
}

.rsepro-speaker-image {
	cursor: pointer;
}

.rsepro-speaker-name {
	text-align: center;
	font-weight: bold;
}

.rsepro-speaker-description {
	display: none;
}

.rsepro-speaker-overlay {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
	z-index: 99999;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.9);
}

.rsepro-speaker-overlay-on {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

#rsepro-speaker-overlay .rsepro-close {
	position: absolute;
	right: 25px;
	top: 25px;
	z-index: 100;
	cursor: pointer;
	font-size: 5rem;
	color: #fff;
}

.rsepro-speaker-overlay-container {
	max-width: 700px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	color: #fff;
	padding: 0 20px;
	overflow-y: visible;
	overflow-x: hidden;
}

#rsepro-speaker-overlay-image {
	margin-top: 45px;
	text-align: center;
}

#rsepro-speaker-overlay-image > img {
	cursor: default;
}

#rsepro-speaker-overlay-name {
	text-align: center;
	margin-top: 20px;
	font-size: 25px;
	margin-bottom: 10px;
}

#rsepro-speaker-overlay-info {
	margin-bottom: 20px;
	margin-top: 15px;
}

#rsepro-speaker-overlay-info a {
	color: #fff;
	font-size: 15px;
}