#map-canvas img {
	max-width: none;
}

#rseprosearch {
	height: 14px;
}

.rs_subscribers_right {
	float: none;
}

.rs_subscribers button {
	margin-bottom: 9px;	
}

.rs_table label {
	display: inline-block;
}

.rs_table select#subscribers{
	height: auto;
}

#rsegetdir {
	margin-bottom: 9px;
}

#locationForm label {
	float: none;
}

#locationForm #rsepro_results {
	left: auto;
}

#rs_results {
	margin: 12px 0 0;
	z-index: 99;
}

ul#rs_filters {
	margin: 0;
}

.rs_button_control {
	margin-bottom: 5px;
}

#rs_event_main fieldset legend {
	width: auto !important;
	margin-bottom: 0 !important;
	line-height: auto !important;
	border: none !important;
}

#rs_event_main fieldset .rs_sel_smaller,
#rs_event_main fieldset .rs_sel {
	height: auto !important;
}

#rs_event_main img,
#map-canvas img {
	max-width: none;
}

#categories_chzn {
	float: left;
}

ul.autocompleter-choices {
	margin-left: 0;
	margin-top: 10px;
}

.rs_add_category {
	margin-left: 5px !important;
}

.textboxlist-bits {
	margin: 0 10px 0 0;
}

.textboxlist-bit {
	margin: 4px 5px 0 0 !important;
}

.textboxlist-bit-editable-input {
	box-shadow: none !important;
}

div#mbox .rs_sel {
	height: auto !important;
}

@media (max-width: 480px) {
	.rs_image {
		float: none;
	}
}

#rsepro_payment .controls {
	float: left;
	width: 85%;
}

#rsepro_payment .controls label {
	display: inline-block;
    margin-right: 5px;
    padding-top: 0;
}

textarea.invalid {
    border: 1px solid #9D261D;
}