/* Admin generic styles */

table.adminlist th {
	font-size: 12px;
}

table.adminlist .label, table.adminlist .badge {
    font-size: 10.998px;
}

table.adminlist tbody tr td {
	font-size: 11px;
	position: relative;
}

table.adminlist tbody tr td span.seospider.hasTooltip {
	cursor: pointer;
    display: inline-block;
}

#details_dialog, #analysis_dialog, #headings_dialog, #canonical_dialog {
    position: fixed;
    margin-left: 50%;
    top: 100px;
    left: -25%;
    width: 50%;
	font-size: 13px;
	z-index: 999999;
}

#details_dialog div.panel-body {
	min-height: 200px;
    max-height: 600px;
    overflow: auto;
}

#analysis_dialog div.panel-body,
#headings_dialog div.panel-body,
#canonical_dialog div.panel-body {
	min-height: 400px;
    max-height: 600px;
    overflow: auto;
	padding: 20px;
}

#analysis_dialog label.analysis-labels, 
#headings_dialog label.headings-labels,
#canonical_dialog label.canonical-labels {
	display: table;
}

#headings_dialog label.headings-labels,
#canonical_dialog label.canonical-labels {
	margin-bottom: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#analysis_dialog label.analysis-labels.label-results {
	margin-top: 20px;
}

#analysis_dialog input.analysis-input {
    width: 70%;
    height: 40px;
    padding: 5px 5px 5px 30px;
    margin: 0 10px 10px 0 !important;
    font-size: 18px;
    color: #666;
    background: url(../images/key.png) 3px 6px no-repeat;
}

#analysis_dialog input.analysis-input.error,
#analysis_dialog input.analysis-input.error:focus {
	border: 2px solid #d9534f !important;
    box-shadow: none;
}

#analysis_dialog #start_analysis span.seospider-cogicon,
#headings_dialog span.seospider-cogicon,
#canonical_dialog span.seospider-cogicon {
	margin-right: 4px;
    display: inline-block;
    width: 16px;
    height: 16px;
    float: left;
    background: url(../images/cog.png) 0 0 no-repeat;
	box-shadow: none;
	border-radius: 3px;
}

#analysis_dialog #start_analysis span.seospider-cogicon.running,
#headings_dialog span.seospider-cogicon.running,
#canonical_dialog span.seospider-cogicon.running {
    animation: spin 2s infinite linear;
}

#analysis_dialog ul.analysis-results,
#analysis_dialog ul.analysis-results li {
	list-style-type: none;
    padding-left: 0;
	margin-left: 0;
}

#analysis_dialog ul.analysis-results li {
    padding: 5px 0;
}

#analysis_dialog ul.analysis-results div[class^=trigger_content_analysis] {
	float: left;
	margin-right: 5px;
}

@media ( max-width:800px ) {
	#analysis_dialog input.analysis-input {
		width: 100%;	
	}
}

label.closedialog {
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 16px;
	cursor: pointer;
}

#analysis_dialog a.seospider_analyzed_link,
#headings_dialog a.seospider_analyzed_link,
#canonical_dialog a.seospider_analyzed_link {
    background-color: #FFF;
    color: #428bca;
    max-width: 100%;
    overflow: auto;
}

#analysis_dialog span.seospider_analyzed_link_title {
	font-weight: bold;
}

#analysis_dialog div.panel-heading {
    padding: 5px 15px 2px 15px;
}

#analysis_dialog div.panel-heading h3,
#headings_dialog div.panel-heading h3,
#canonical_dialog div.panel-heading h3 {
	margin-bottom: 4px;
}

#pagescore {
	height: 30px;
}

#pagescore span.label.label-primary {
    float: left;
    margin: 0;
}

#pagescore_slider {
    height: 20px;
    width: 200px;
    float: left;
	margin-left: 10px;
	margin-right: 10px;
    border: 1px solid #ccc;
	box-sizing: content-box;
	border-radius: 3px;
}

#inner_slider {
    height: 20px;
}

#inner_slider.score_red, #analysis_dialog span.label.score_red {
	background-color: #d9534f;
}

#inner_slider.score_yellow, #analysis_dialog span.label.score_yellow {
	background-color: #f89406;
}

#inner_slider.score_green, #analysis_dialog span.label.score_green {
	background-color: #3c763d;
}

div.trigger_dialog:not(.noduplicates), div.trigger_content_analysis {
	cursor: pointer;
}

#pagescore_numeric {
	margin: 0;
}

div.trigger_content_analysis {
    border: 2px solid #6d6d6d;
    border-radius: 15px;
    width: 24px;
    height: 48px;
    box-sizing: content-box;
    padding: 4px 0 4px 0;
}

div.trigger_content_analysis_red {
	background-color: #d9534f;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	margin: auto;
}

div.trigger_content_analysis_yellow {
	background-color: #f89406;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	margin: auto;
}

div.trigger_content_analysis_green {
	background-color: #3c763d;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	margin: auto;
}

div.trigger_content_analysis + div.tooltip {
	left: auto;
	right: 56px;
	left: -150px !important;
}

ul.seospider_duplicate {
	margin: 0;
	padding: 0;
}

li.seospider_duplicate {
	padding: 5px;
    border-bottom: 1px solid #DDDDDD;
    font-style: italic;
	list-style-type: none;
}

div.panel-heading {
	cursor: move;
}

a[data-role=link] {
	display: block;
	padding-right: 15px;
}

span.seospider_indicator {
	position: absolute;
    right: 5px;
    top: 5px;
    font-size: 20px;
	animation: blinker 0.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}

table.adminlist div.tooltip * {
	text-align: center;
}

@keyframes blinker {  
	from { opacity: 1; }
	to { opacity: 0; }
}

@keyframes spin {
	0%  {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}	
}

table.adminlist td div[data-bind*=title],
table.adminlist td div[data-bind*=desc],
table.adminlist td div[data-bind*=h1],
table.adminlist td div[data-bind*=h2],
table.adminlist td div[data-bind*=h3] {
	max-height: 200px;
	overflow: auto;
}

@media (min-width: 980px) and (max-width: 1200px) {
	body.admin.com_jmap {
		min-width: 1200px;
	}
}

@media (max-width: 800px) {
	body.admin.com_jmap {
		min-width: 800px;
	}
}

/**
 * Override headings
 */
div.headings-original, div.headings-override,
div.canonical-original, div.canonical-override {
	margin-bottom: 20px;
}

span.seospider-label-desc {
	position: relative;
    top: 2px;
}

textarea.headings-content {
    width: 50%;
    height: 100px;
	border-top-left-radius: 0;
}

input.canonical-content {
    width: 80%;
	border-top-left-radius: 0;
}

#save_heading, #delete_heading,
#save_canonical, #delete_canonical {
	margin-right: 10px;
}

#headings_opmessage,
#canonical_opmessage {
	min-height: 35px;
}

#headings_opmessage label,
#canonical_opmessage label {
	display: inline-block;
    max-width: 100%;
    overflow: hidden;
}

ul.seospider_validation_errorlist {
    display: inline-block;
    margin: 0;
    margin-left: 5px;
}

#override_heading_content.error,
#override_canonical_content.error {
    border-color: #F00;
}

span.seospider-canonical-override {
    background-color: #f89406;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 9px;
    display: inline-block;
    padding: 2px 4px;
    font-size: 10.998px;
    font-weight: bold;
    line-height: 14px;
    color: #fff;
    vertical-align: baseline;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

span.seospider-canonical.hasTooltip.seospider-canonical-override-empty {
	font-size: 14px;
	color: #3071a9;
}

span.seospider-canonical.hasTooltip.seospider-canonical-override-empty:before {
	font-family: 'IcoMoon';
    font-style: normal;
    speak: none;
    content: "\2b";
}