ul.errorlist {
	float: left;
	margin: 0;
	padding: 5px 5px 0 0;
	margin-left: 5px;
}

ul.errorlist li {
	list-style-type: none;
	color: #F00;
	font-size: 13px;
}

.inputbox {
	float: left;
}

.inputbox.error, .error, input[type=text].error {
	border-color: #F00;
}