pre.code,.editbox{color:#666666}
.editbox p{margin:0}
span.xml-processing{color:red}
span.php-keyword{color:#770088;font-weight:700}
span.php-compile-time-constant{color:#776088;font-weight:700}
span.php-predefined-constant{color:darkgreen;font-weight:700}
span.php-reserved-language-construct{color:green;font-weight:700}
span.php-variable{color:black;font-weight:700}
span.php-comment{color:#ff9900;font-stretch:condensed}
span.php-string-double-quoted{color:#AA2222;font-weight:700}
span.deprecated{font-size:smaller}
.editbox{background-color:#fff;background-position:0 3px;background-repeat:repeat-y;color:black;font-family:monospace;font-size:10pt;line-height:16px;margin-left:8px;margin-top:7px;padding:0;white-space:normal;word-wrap:break-word}
.wrap{white-space:0!important;word-wrap:break-word}
span.xml-attribute{color:#281}
span.xml-attname{color:#00F}
span.xml-comment{color:#ff9900}
span.xml-cdata{color:#48A}
span.xml-entity{color:#A22}
span.xml-error{color:#F00}
span.css-at,span.css-value,span.js-keyword{color:#770088}
span.css-unit,span.js-atom,span.php-atom{color:#228811}
span.css-identifier,span.js-variable,span.js-property,span.php-t_string,span.xml-text{color:black}
span.css-important,span.js-variabledef{color:#0000FF}
span.css-colorcode,span.js-localvariable{color:#004499}
span.css-comment,span.js-comment{color:#AA7700}
span.css-string,span.js-string,span.php-string-single-quoted{color:#AA2222}
span.php-punctuation,span.php-operator{color:blue}
span.php-predefined-function,span.php-predefined-class{color:green}
span.xml-tagname,span.xml-punctuation{color:#A0B}